*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formularios-contenedor {
    display: flex;
    flex-direction: column; /* Coloca los formularios uno encima del otro */
    gap: 30px; /* Espacio entre los formularios */
    margin-top: 20px;
}

/* Formularios */
.formulario-contacto {
    width: 70%; /* Ocupa todo el ancho disponible */
    padding: 20px;
    background-color: #FFFFFF; /* Fondo blanco */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el formulario */
    font-family: 'Lora', serif;
}
.formulario-contacto input{
    width: 100%; /* Ocupa todo el ancho del formulario */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #CCCCCC; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 15px; /* Espacio entre los campos */
    font-size: 16px; /* Tamaño de fuente */
}
.formulario-contacto textarea {
    width: 100%; /* Ocupa todo el ancho del formulario */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #CCCCCC; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 15px; /* Espacio entre los campos */
    font-size: 16px; /* Tamaño de fuente */
}
/* Títulos */
.titulo-contacto {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #0056B3; /* Azul oscuro */
    margin-bottom: 20px;
}

.titulo-presupuesto {
    font-family: 'Playfair Display', serif;
    color: #0056B3; /* Azul oscuro */
    margin-bottom: 15px;
    text-align: center;
}

/* Campos del formulario */
.formulario-contacto label,
.formulario-contacto input,
.formulario-contacto textarea {
    font-family: 'Poppins', sans-serif; /* Aplica la fuente */
    font-size: 16px; /* Tamaño de fuente legible */
    color: #333; /* Color de texto sobrio */
}


#contacto-bloque-principal {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    justify-content: center;
    align-items: flex-start;
    margin-top: 150px;
    margin-right: 50px;
    padding: 20px;
}

#contacto-bloque-principal h2 {
 padding-right: 140px; 
}

.contacto-formulario,
.contacto-mapa {
    flex: 1 1 400px;
    max-width: 600px;
}

.contacto-mapa iframe {
    width: 100%;
    height: 100%;
    min-height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Botón */
.boton-enviar {
    font-family: 'Poppins', sans-serif;
  
        background-color: #0056b3;
        color: white;
    
    
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-enviar:hover {
    background-color: #ffcc00;
}
#contactoBloques {
    display: table; /* Activa Flexbox */
    flex-direction:row; /* Coloca los elementos en una fila */
    justify-content: space-between; /* Espacio uniforme entre los elementos */
    box-sizing: border-box;
    gap: 20px; /* Espacio entre los elementos */
}


#pie-pagina {
  margin-top: 100px;
  height: 300px;
  padding: 10px;
  width: 100%;
  background-color: #f0a256;
  color: white;
  text-align: center;
  font-size: 18px;

  display: flex;              /* Activa Flexbox */
  flex-direction: column;     /* Elementos en columna */
  align-items: center;        /* Centra horizontalmente */
  justify-content: center;    /* Centra verticalmente */
  gap: 10px;                  /* Espacio entre elementos */
}

#pie-pagina .footer-content {
  display: flex;              /* Flex para los elementos internos */
  flex-direction: row;        /* En fila */
  align-items: center;        /* Centra verticalmente */
  gap: 70px;                  /* Espacio entre "360 retail" y la lista */
}


@media (max-width: 768px) {
  .formulario-contacto {
    width: 90%;
  }

  #contacto-bloque-principal {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  #pie-pagina {
    font-size: 14px;
    display: flex;
  }
}
@font-face {
font-family: 'D3 Euronism';
src: url('./fonts/d3_euronism.ttf') format('truetype');
}
#pie-pagina p{
font-family: 'D3 Euronism'; /* Aplica la fuente personalizada */
}